<div class="container">
  <app-tasks-list-search (inputEvent)="query.set($event)"></app-tasks-list-search>
  @if (filteredTasks(); as tasks) {
  <div class="catalog">
  @if (tasks.length > 0) {
    @for (task of tasks; track $index) {
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{task.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{task.description | truncate}}</p>
        <!-- <p>Статус: {{task.isCompleted ? 'Выполнена' : 'Не выполнена'}}</p> -->
        <label>
          Статус:
          <mat-slide-toggle
            class="example-margin"
            [checked]="task.isCompleted"
            (change)="onChangeTaskStatus(task.id,!task.isCompleted)"
            >
          </mat-slide-toggle>
        </label>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <a [routerLink]="['tasks',task.id]" mat-button>Подробнее</a>
        <button mat-button class="delete-button" (click)="onDeleteTask(task.id)">Удалить</button>
      </mat-card-footer>
      </mat-card>
    }
  }
</div>
}
</div>
<app-tasks-list-add (addEvent)="onAddTask($event)"></app-tasks-list-add>
